<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> Course Dashboard </title>
    <link href="../static/success.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Raleway:wght@200;300;400;500&family=Roboto+Slab:wght@200;300;400;500&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>

    <ul>

        <h1> Western University Course Dashboard </h1>
        <h3> A helpful tool for students to access important information regarding their program and module! </h3>
        <h2> Required Courses for a {{ module }} in {{ program }} </h2>

        <div id="results_wrapper">

            <div class="wrap-collapsible">

              <input id="collapsible" class="toggle" type="checkbox">
              <label for="collapsible" class="lbl-toggle"> Testing </label>
              <div class="collapsible-content">
                <div class="content-inner">
                  <div>

                    <h4> Prerequisites:  </h4>
                    <h4> Taught by: Mike Bauer, Charles Ling
                    </h4>
                    <h4> Required course materials: </h4>
                    <h4> Summary: </h4>

                  </div>
                </div>
              </div>

            </div>

            {% for name, course in data.items() %}

            <div class="results">

                <h2> {{ name.strip(",") }} </h2>
                <h4> Prerequisites: {{ course["syllabus"]["Prerequisites"].strip("Prerequisites\n 1. ").replace("\n", "") }} </h4>
                <h4> Taught by: Mike Bauer, Charles Ling
                </h4>
                <h4> Required course materials: {{ course["syllabus"]["Textbooks"].strip("Textbook\n") }}</h4>
                <h4> Summary: </h4> <p> {{ course["syllabus"]["Description"].strip("Description\n") }} </p>

            </div>

            {% endfor %}

        </div>

    </ul>

</body>

</html>

